Django==5.2.17
asgiref==3.12.1
sqlparse==0.6.0
pandas==3.0.5
numpy==2.5.3
python-dateutil==2.9.0.post0
six==1.17.0
scikit-learn==1.9.1
scipy==1.18.1
narwhals==2.26.0
threadpoolctl==3.6.0
joblib==1.5.2
pytest==9.0.2
pytest-django==4.14.0
pytest-cov==7.1.0
coverage==7.10.7
iniconfig==2.3.0
packaging==26.3
pluggy==1.6.0
Pygments==2.21.0
